<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.colourfur.userservice.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.colourfur.userservice.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectByUsername" resultType="com.colourfur.userservice.entity.User" resultMap="userResultMap">
        select id, username, password from user where username=#{username}
    </select>
</mapper>
